.slick-dots {
    bottom:-50px!important;
}

.review {
    text-align: center;
}

.review__content__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.review__header__rating__number {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

.review-slider .slick-arrow {
    display:none!important;
}